<h3>Edit Blog url</h3>
<br />
<% form_for :user_blog, :method => :post do |f| %>
<table>
  <tr>
   <td>Name(*required)</td>
      <td>:
       <%= f.text_field :comment %>
       <%= error_message_on :user_blog, :comment %>
      </td>
  </tr>
  <tr>
    <td>URL</td>
    <td>:
      <%= f.text_field :url %>
      <%= error_message_on :user_blog, :url %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= submit_tag "Update"%>
    </td>
  </tr>
</table>
<% end %>