<% if @blogs.nil? %>
  <h3>You haven't added any blog yet</h3>
<% else %>
  <% if !@recommended_blogs.nil? && @recommended_blogs.length > 0 %>
    <h3>Blogs, you may like</h3>
    <div class="recommendations">
      <% @recommended_blogs.each do |recommendation| %>
        <div class="item" id="recommendation-<%= recommendation.blog_id %>">
          <% form_for :user_blog, :url => {:action => 'edit'} do |f| %>
            <table class="recommendation">
              <tr>
                <td width="100">URL:</td>
                <td>
                  <%= link_to recommendation.blog.url, recommendation.blog.url, :target => "_blank" %>
                  <%= f.hidden_field :url, {:value => recommendation.blog.url, :id => "recommendation-url-#{recommendation.id}"} %>
                </td>
              </tr>
              <tr>
                <td>Name:</td>
                <td><%= f.text_field :comment, {:id => "recommendation-comment-#{recommendation.id}", :style => "width: 50%"} %></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <%= submit_to_remote 'recommendation', "Accept", :url => update_recommendation_url(:rec => 'Accept', :id => recommendation.blog.id) %>
                  <%= submit_to_remote 'recommendation', "Reject", :url => update_recommendation_url(:rec => 'Reject', :id => recommendation.blog.id) %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <h3>Blogs, you are following</h3>
  <table class="list">
    <tr>
      <th width="70px"><%= link_to "Date added", :sort => {:by => "created_at", :dir => "DESC"} %></th>
      <th>Site</th>
      <th width="300px">Comment</th>
      <th width="400px">Blog url</th>
      <th>Actions</th>
    </tr>
  <% @blogs.each do |blog|
  %>
    <tr id="blog-<%=blog.id%>">
      <td><%= blog.created_at.strftime("%b %d") unless blog.created_at.nil? %></td>
      <td><%= blog.site_name %></td>
      <td><%= blog.comment unless blog.comment.nil? %></td>
      <td><%= blog.url %></td>
      <td>
        <%# link_to "edit", {:action => 'edit', :id => blog.id} %>
        <%= link_to_remote 'delete', :url => ({:action => 'delete_blog', :id => blog.id}),
            :confirm => "You are going to delete\n#{blog.url}\nAre you sure?" %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
<p>
    <%= will_paginate @blogs %>
</p>
<p>
  <%= link_to "add new blog", :action => 'edit' %><br />
</p>