<% if @blogs.nil? %>
  <h1>You haven't added any blog yet</h1>
<% else %>
  <h1>Blogs</h1>
  <table>
    <tr>
      <th width="70px"><%= link_to "Date added", :sort => {:by => "created_at", :dir => "DESC"} %></th>
      <th>Site</th>
      <th width="300px">Comment</th>
      <th width="400px">Blog url</th>
      <th>Actions</th>
    </tr>
  <% @blogs.each do |blog|
  %>
    <tr id="blog-<%=blog.id%>">
      <td><%= blog.created_at.strftime("%b %d") unless blog.created_at.nil? %></td>
      <td><%= blog.site_name %></td>
      <td><%= blog.comment unless blog.comment.nil? %></td>
      <td><%= blog.url %></td>
      <td>
        <%= link_to "edit", {:action => 'edit', :id => blog.id} %>
        <%= link_to_remote 'delete', :url => ({:action => 'delete_blog', :id => blog.id}),
            :confirm => "You are going to delete\n#{blog.url}\nAre you sure?" %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
<p>
    <%= will_paginate @blogs %>
</p>
<p>
  <%= link_to "add new blog", :action => 'edit' %><br />
</p>