<% if @user_posts.nil? %>
  <h1>You don't have any post yet</h1>
<% else %>
  <table>
    <caption>Posts</caption>
    <tr>
      <th scope="col" style="width: 50px;">Date</th>
      <th scope="col">Blog Name</th>
      <th scope="col">Post Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Reads</th>
      <th scope="col">Comments</th>
      <th scope="col">Actions</th>
    </tr>
  <% @user_posts.each do |user_post|
     class_name = (user_post.is_read)? 'read' : 'unread'
  %>
    <tr id="post-<%=user_post.post_id%>" class="<%= class_name %>">
      <td style="text-align: right; font-size:80%;"><%= time_ago_in_words(user_post.post.posted_at) unless user_post.post.posted_at.nil? %> ago</td>
      <td><%= user_post.comment %></td>
      <td>
        <%= link_to user_post.post.title,
                    view_post_url(:id => user_post.post.id),
                    :target =>  "_blank" %>
      </td>
      <td>
        <%= "#{user_post.post.rating_positive}/#{user_post.post.rating_negative}" %>
      </td>
      <td><%= user_post.post.num_reads %></td>
      <td>
        <%= user_post.post.num_comments %>
        (<%= user_post.post.num_comments.to_i - user_post.num_old_comments.to_i %> new)
      </td>
      <td>
        <%= link_to_remote 'delete', :url => ({:action => 'delete_post', :id => user_post.post.id}),
            :confirm => "You are going to delete\n#{user_post.post.title}\nAre you sure?" %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
<p>
  <%= will_paginate @user_posts %>
</p>
